alias cls='clear'
alias cl='cls; ls -hl'
alias cla='cl -a'
alias cp='cp -i'
alias mv='mv -i'
alias rm='rm -i'
alias SimpleHTTPServerDocker='docker info 2> /dev/null > /dev/null && echo "Serving HTTP on port 8000..." && docker run --rm -v $PWD:/usr/share/nginx/html:ro -p 8000:80 nginx:alpine'
alias SimpleHTTPServerPython2='python -m SimpleHTTPServer 2> /dev/null '
alias SimpleHTTPServerPython3='python -m http.server 2> /dev/null'
alias SimpleHTTPServer='SimpleHTTPServerDocker || SimpleHTTPServerPython3 || SimpleHTTPServerPython2'
alias lstodo='grep -Rn "TODO:"'
alias checkip='curl https://postman-echo.com/ip'


# Shortcut for GUI Application
alias st='stree'
alias atm='atom -a'
alias subl='subl3 -a'
alias aatm='fasd -e "atom -a" -si'
alias ssubl='fasd -e "subl3 -a" -si'
alias chrome='open -a "Google Chrome"'

# Aliases for git
alias gs='git status'
alias gd='git diff'
alias glog='git log'
alias gl='git lg'
alias gb='git branch'
alias gba='git branch -a'
alias gbtmp='git branch tmp-`date +%s`'
alias gcotmp='git checkout -b tmp-`date +%s`'

# alias fasd
alias j=z
alias jj=zz
alias v='fasd -e vim -si'

