alias cls='clear'
alias cl='cls; ls -hl'
alias cla='cl -a'
alias cp='cp -i'
alias mv='mv -i'
alias rm='rm -i'

alias lstodo='grep -Rn "TODO:"'
alias 3cal='cal -3'
alias c='cursor'
alias tt='tree -L 1 /tmp/playground-*'

# hist_disable & hist_enable
alias hist_disable="function zshaddhistory() {  return 1 }"
alias hist_enable="unset -f zshaddhistory"

# Aliases for Docker
alias dk='docker'
alias dkc='docker compose'

# Aliases for SimpleHTTPServer
alias SimpleHTTPServerCaddy='which caddy > /dev/null && echo "Serving HTTP on port 8000..." && caddy file-server --browse --listen :8000 2> /dev/null'
alias SimpleHTTPServerDocker='docker info 2> /dev/null > /dev/null && echo "Serving HTTP on port 8000..." && docker run --rm -v $PWD:/usr/share/nginx/html:ro -p 8000:80 nginx:alpine'
alias SimpleHTTPServerPython2='python -m SimpleHTTPServer 2> /dev/null '
alias SimpleHTTPServerPython3='python -m http.server 2> /dev/null'
alias SimpleHTTPServer=SimpleHTTPServerCaddy

# Aliases for git
alias gs='git status'
alias gd='git diff'
alias glog='git log'
alias gl='git lg'
alias gb='git branch'
alias gba='git branch -a'
alias gbtmp='git branch tmp-`date +%s`'
alias gcotmp='git checkout -b tmp-`date +%s`'

